*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins' sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color:#ffffff ;
    --text-color:#e7d469d7;
    --main-color:#000000;
    --other-color:#030303 ;
    --big-font: 4.3rem;
    --h2-font:2.2rem;
    --p-font:1rem;
    

}
body{
    color: var(--text-color);
    background: var(--bg-color);

}
header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    background: transparent;
    padding: 1opx 11%;
    border-bottom: 1px solid #f7f9fb;
    transition: all .45s ease;
}
.logo img{
    height: auto;

}
.navbar{
    display: flex;
}
.navbar a{
    font-size: var(--p-font);
    color: white;
    font-weight: 400;
    padding:10px 25px ;
    margin: 0 5px;
    background-color: transparent;
    border-radius: 30px;
    transition: all .45s ease;

}
.navbar a:hover{
    background: #e2cb4ad7;
}
.navbar a.active{
    background:  #e2cb4ad7;
}
.icons{
    display: flex;
    align-items: center;

}
.icons i{
    height: 50px;
    width: 50px;
    background:  #f7f9fb;
    display: inline-flex;
    align-items: center;
    justify-content:center ;
    border-radius: 50px;
    color: var(--other-color);
    font-size: 22px;
    margin-right: 25px;
    margin-left: 10px  ;
    transition: all .45s ease;
}
.icons i:hover{
    transform: scale(0.9);
}
#menu-icon{
    color: var(--other-color);
    font-size: 33px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 100px 11% 90px;
}
.media-container{
    display: flex;
    margin:30px;
    letter-spacing: 10px;

}
.media-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e2cb4ad7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.home{
    height: 100vh;
    width: 100%;
    background-color: #000;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;

}
.home-img img{
    width: 100%;
    height: auto;
}
.home-text h4{
    font-size: 22px;
    font-weight: 500;
    color: white
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    line-height:1.2 ;
    margin: 25px 0 45px;
}
.btn{
    display: inline-block;
    padding: 16px 30px ;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all .45s ease;
}
.btn:hover{
    letter-spacing: 2px;
    opacity: 0.8;
}

header.sticky{
    background: var(--bg-color);
    padding: 14px 11%;

}
.middle-text h2{
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: 600;
}
span{
    color: var(--main-color);
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap:2rem;
    align-items: center;
    margin-top: 5rem;
    
}
.row{
    padding: 40px 30px;
    background: #fff;
    border-radius: 20px;
    transition: all .45s ease;
}
.main-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.row-img img{
    width: 200px;
    height: auto;
    max-width: 100%;
}
.row-text h6{
    font-size: 14px;
    font-weight: 500;
    color: var(--p-font);
    margin-bottom: 1rem;
}
.row-text h3{
    margin-bottom: 3rem;
    font-size: 26px;
    font-weight: 600;
}
.row-btn{
    display: inline-block;
    padding: 12px 22px;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 15px;
    border-radius: 30px;
    transition: all .45s ease;
}
.row-btn:hover{
    letter-spacing: 1px;
    color: var(--bg-color);
    background: var(--text-color);
}
.row:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.button{
    font-size: 20px;
   text-decoration: underline var(--text-color);
    color: var(--text-color);
    transition: all .45s ease;
}
.button a{
    color: var(--text-color);
}
.button:hover{
    letter-spacing: 1px;
  
}

.product-content{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(200px , auto));
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.box{
   position:relative ;
    display: inline-block;
    padding: 50px;
}
.box-img img{
    
    width: 200px;
    border-radius: 20px;
    margin-bottom: 1.2rem;
    transition: all .45s ease;
}
.box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height:1.1
}
.box h4{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 500;
    margin-bottom: 2rem;
}
.inbox{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    gap: 2rem;
}
.price{
    display: inline-block;
    padding: 4p 16px;
    background: transparent;
    border: 2px solid #030303;
    color: #000;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    transition: all .45s ease;
}
.price:hover{
    letter-spacing: 1px;
}



footer{
    flex-shrink: 0;
    border-top:  1px dashed #000;
    width: 100%;
    background: #fff;
    color: #333;
}
.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

/*contact*/
.footer-contact h3,
.footer-media h3{ 
    font-size: 25px;
    padding-bottom: 20px;


}
.footer-contact p{
     padding: 5px 0;
}


.list-media{
    list-style-type: none;
    display: block;
}

/*media*/
.list-media{
    position: relative;
    right: 10px;
}
.list-media img{
    width: 40px;
    margin: 10px 10px;
}
.list-media a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 25px;
}
h5{
    text-align: center;
    height: 25px;
    background-color: var(--text-color);
    color: #fff;
}

